<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Moblefinpro.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".malefemalepicker"
            android:exported="false" />
        <activity
            android:name=".landing_page"
            android:exported="false" />
        <activity
            android:name=".loadingscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".loginpage"
            android:exported="false" />

        <receiver android:name=".receiver.BedTimeNotificationReceiver" />

        <activity
            android:name=".registerpage"
            android:exported="false" />
        <activity
            android:name=".WaterReminder"
            android:exported="false" />
        <activity
            android:name=".ExcersizeReminder"
            android:exported="false" />
        <activity
            android:name=".AddExcersize"
            android:exported="false" />
        <activity
            android:name=".SleepReminder"
            android:exported="false" />
        <activity
            android:name=".bmicalculator"
            android:exported="false" />
        <activity
            android:name=".caloryneeds"
            android:exported="false" />
        <activity
            android:name=".eatreminder"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>